<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <meta charset="UTF-8">
    <title> 멘토 로그인</title>
</head>
<body>
    <div>
        <div th:replace="fragments/bodyHeader :: bodyHeader" />

        <form action="/login" method="post">
            <ul>
                <li><input type="text" name="username" placeholder="이메일"></li>
                <li><input type="password" name="password" placeholder="비밀번호"></li>
            </ul>
<!--            <button disabled>로그인</button>-->
            <input type="submit" value="로그인">
        </form>
        <span th:if="${param.error}" > 입력한 계정을 찾을 수 없습니다. </span>
        <a th:href="@{/mentors/add}">계정이 없으신가요? 가입하기</a>

        <div th:replace="fragments/footer :: footer" />

    </div>
</body>
</html>